<div style="text-align:center">
  <h1>
    Welcome to {{ title }}
  </h1>
</div>
<section class="stockbroker-app-content">
  <h1>Stock History Data:</h1>
  <form [formGroup]="stockform" (ngSubmit)="onSubmit()">
    <p>
      <label>Stock Symbol:</label>
      <input type="text" formControlName="symbol">
    </p>
    <p>
      <label>Time Period</label>
      <label> from:</label>
      <input type="text" formControlName="startDate">
      <label> to:</label>
      <input type="text" formControlName="endDate">
    </p>
    <p>
      <button type="submit" [disabled]="!stockform.valid">Show</button>
    </p>
  </form>
</section>

<div style="height:600px;overflow:scroll">
  <table>
    <th>Date</th>
    <th>Open</th>
    <th>High</th>
    <th>Low</th>
    <th>Close</th>
    <th>Volume</th>

    <tr *ngFor="let item of tableHistData">
      <td>{{ item.date }}</td>
      <td>{{ item.open }}</td>
      <td>{{ item.high }}</td>
      <td>{{ item.low }}</td>
      <td>{{ item.close }}</td>
      <td>{{ item.volume }}</td>
    </tr>
  </table>
</div>